*.out
!*/
!*.c++
!*.cc
!*.cp
!*.cpp
!*.cxx
!*.h
!*.h++
!*.hh
!*.hp
!*.hpp
!*.hxx
!*.C
!*.H
!*.c
cmake-build-debug
CMakeLists.txt
!*.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
2020-04-08/zhengk3/64.s
2020-04-08/zhengk3/645.s
2020-04-08/zhengk3/646.s
2020-04-09/liupt/t
2020-04-09/wym/wym/main
2020-04-09/zhengk3/2-5
2020-4-10/zhengk3/2-7-mac
2020-4-10/zhengk3/inttob
